.course {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bg {
  min-height: 162px;
  padding: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.caption {
  width: 100%;
  height: 100%;
  padding: 18px;
  padding-top: 12px;
  line-height: 18px;
  color: #39414B;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
}
