.tagsList {
  padding: 11px;
  align-self: start;
  border: 1px solid #CFCFE4;
  border-radius: 18px;
  list-style: none;
}

.btn {
  width: 100%;
  min-height: 42px;
  padding: 0 12px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
  border: none;
  background-color: transparent;
  text-align: left;
  color: #39414B;
  cursor: pointer;

  &:hover {
    padding: 0 11px;
    border: 1px solid #5FBF77;
    border-radius: 12px;
  }

  &.active {
    background-color: #5FBF77;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: default;
  }
}
